@use '../../../styles/utils' as *;

.detailWrap {
    width: 100vw;
    height: 100vh;
    position: relative;

    .bg {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }

    section {
        position: absolute;
        top: 0;
        left: 0;
        color: #000;
        width: 33.85vw;
        height: 100vh;
        background-color: rgba(217, 217, 217, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 0 70px 70px 0;
        text-align: center;

        h2 {
            font-size: 50px;
            font-weight: 700;
            margin-top: 22.5vh;
            margin-bottom: 7.41vh;
        }
        .inform {
            font-size: 20px;
            display: flex;
            gap: 37px;
            justify-content: center;
            margin-bottom: 7.41vh;
            li {
            }
        }
        .desc {
            display: block;
            width: 445px;
            font-size: 17px;
            text-align: left;
            margin: auto;
            margin-bottom: 10.93vh;
        }
        .buttons {
            display: flex;
            gap: 1.72vw;
            justify-content: center;
            margin-bottom: 1.01vh;
        }
        button {
            width: 240px;
            height: 50px;
            font-size: 20px;
            font-weight: 600;
            border-radius: 50px;
            border: none;
            background: #fff;
            color: #555555;
        }
    }
    .horizon {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 884px;
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }
    .vertical {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 24.04vh;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }
}
